SECRET_KEY=change-this-to-a-long-random-string
DEBUG=False

ALLOWED_HOSTS=api.structorg.com,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://oi.structorg.com
CSRF_TRUSTED_ORIGINS=https://oi.structorg.com,https://api.structorg.com

DB_NAME=struct_db
DB_USER=struct_user
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_HOST=localhost
DB_PORT=5432
